body {
  font-family: 'Oswald', sans-serif;
}

.low-usage {
  color: blue;
}

.medium-usage {
  color: black;
}

.high-usage {
  color: red;
}


.outer-square {
   margin: 2%;
}

.top-half {
  display: flex;
  flex-direction: row;
  border-bottom: 8px solid black;
}

.top-left {
  border-right: 8px solid black;
  height: 400px;
  background-color: yellow;
  width: 30vw;
}

#temperature {
  font-size: 300px;
}

.reset {
  background-color: white;
  padding: 8px 16px 8px 16px;
  color: black;
  margin: 8px;
  border: none;
  font-size: 50px;
}

.control {
  background-color: white;
  padding: 8px 16px 8px 16px;
  color: black;
  margin: 8px;
  border: none;
  font-size: 50px;
}

.top-right {
  display: flex;
  margin-top: auto;
  margin-left: auto;
}

.bottom-half {
  display: flex;
  flex-direction: row;
  height: 350px;
}

.bottom-left {
  border-right: 8px solid black;
  width: 30vw;
}

.bottom-middle {
  border-right: 8px solid black;
}

.bottom-middle-top {
  border-bottom: 8px solid black;
  height: 300px;
}

#powerSavingModeSwitch {
  background-color: white;
  padding: 8px 16px 8px 16px;
  color: black;
  border: none;
  font-size: 50px;
}

.bottom-middle-bottom {
  height: 5%;
}

.bottom-right {
  display: flex;
  flex-direction: column;
}

.bottom-right-top {
  align-content: flex-end;
  background-color: blue;
  color: white;
  border-bottom: 8px solid black;
}

